@import 'src/variables';

div.intro-container {
    height: 100vh;
    width: 100vw;
    background-color: $neo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p.title {
        color: $goldenGrass;
        font-weight: lighter;
        letter-spacing: 10px;
        font-size: 100px;
        margin: unset;
    }

    div.description {
        display: flex;
        flex-direction: row;
        margin: unset;

        p {
            margin-top: unset;
            margin-bottom: unset;
            display: flex;
            color: $wildSand;

             &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 100%;
                margin-left: $related-distance;
                margin-right: $related-distance;
                background-color: $wildSand;
            }

            &:last-child {
                &::after {
                    content: unset;
                }
            }
        }
    }
}
