@import 'src/variables';

.photo-background {
    background-color: $wildSand;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120vh !important;
}

.photo-header {
    margin-bottom: $unrelated-distance * 4;

    h1 {
        margin-top: unset;
    }
}

.photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;

    img.photo {
        height: 200px;
        width: 200px;
        filter: grayscale(100%);
        object-fit: cover;

        &:hover {
            filter: unset;
        }
    }
}