@import 'src/variables';

.values {
    background-color: $neo;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1.title {
        color: $wildSand;
        font-weight: bold;
    }

    div.values-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        @media screen and (max-width: $mobile-width-large) {
            flex-direction: column;
        }
    }
    
    div.value-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: $unrelated-distance;
        margin-right: $unrelated-distance;
        flex-grow: 1;
        flex-basis: 0;

    
        h1 {
            color: $goldenGrass;
        }

        p {
            max-width: 80%;
            color: $wildSand;
        }

        &:last-of-type {
            margin-bottom: $unrelated-distance*2;
        }
    }
}